body{
	margin: 0;
	border: 0;
}
div.self-introduction{
	display: block;
	background-color: rgba(255,218,0,0.8);
	height: 500px;
}

div.content-left{
	float: left;
	margin-left: 100px;
}

div.content-right{
	float: right;
	margin-right: 100px;
	margin-top: 25px;
}

div.content-pic{	
	width: 379px;
	height: 379px;	
	border: 20px solid white;
	border-radius: 190px 190px;	
	margin-top: 50px;
	box-shadow: 4px 4px 4px #666666;
}

div.content-pic[id="selfInfo"]
{
	background: url(../image/selfInfos.jpg) no-repeat;
	float: right;
	margin-right: 100px;
}

div.content-pic[id="web"]
{
	background: url(../image/web.jpg) no-repeat;
	float: left;
	margin-left: 100px;
}

div.content-pic[id="blog"]
{
	background: url(../image/logs.jpg) no-repeat;
	float: right;
	margin-right: 100px;
}



dt {
	float: left;
	margin-left: 50px;
	}

div[id="info"]{
	width: 400px;
	margin-left: 50px;
	word-break:normal;
}
@font-face{
	font-family: myfont;
	src:url(../font/myfont.otf)
		format('opentype');
}

body {
	font-family: 微软雅黑;
}

h1 {
	font-family: myfont;
	font-size: 75px;
	text-shadow: 4px 4px 4px #666666;
}

div.web-show{
	display: block;
	background-color: rgba(73,192,238,0.8);
	height: 500px;
}

div.my-blog{
	display: block;
	background-color: rgba(187,214,93,0.8);
	height: 500px;
}

table {
	border-right: 2px solid rgba(99,99,99,0.5);
	border-bottom: 2px solid rgba(99,99,99,0.5);
	width: 500px;	
}

table th, td {
	border-left: 2px solid rgba(99,99,99,0.5);
	border-top: 2px solid rgba(99,99,99,0.5);
	margin: 0px;
}

table th {
	background-color: rgba(33,33,33,0.6);
}

table td {
	background-color: rgba(255,255,255,1);
}

table td:hover{
	background-color: rgba(100,100,100,0.5);
}



div.doge
{
	background: url(../image/doge.gif) center top no-repeat;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	height: 500px;
	width: 100%;
	z-index: -1;
}

div.star{
	background: url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjQsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOTIyLjU3NHB4IiBoZWlnaHQ9IjkyMS4wNzJweCIgdmlld0JveD0iMCAwIDkyMi41NzQgOTIxLjA3MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOTIyLjU3NCA5MjEuMDcyIg0KCSB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNzQ1Ljk0NSw4MjkuMDQyIDUxNS4wNzIsNTc3LjIyMiA1NzIuNjM1LDkxMy45NzIgNDY0LjE0Niw1OTAuMDIgMzc5Ljc2Myw5MjEuMDcyIDQxMi40MjEsNTgwLjk5OSANCgkyMDAuNjgyLDg0OS4xMDggMzY4LjgzNSw1NTEuNzIxIDY2LjM1Miw3MTAuNTI2IDM0MC45MjgsNTA3LjIzOSAwLDUyOS4yOTEgMzMzLjUyLDQ1NS4yNTYgMTMuMTAxLDMzNi43MzEgMzQ3Ljg5Niw0MDQuNzU2IA0KCTEwMy4zOTMsMTY2LjE1MyAzODEuNTc2LDM2NC40NzEgMjU1LjI1Nyw0Ny4wNDUgNDI4LjcyNCwzNDEuMzY2IDQ0Mi40MzYsMCA0ODEuMTk3LDMzOS40MzUgNjMyLjU2NiwzMy4xNTcgNTI5LjkyLDM1OS4wMTIgDQoJNzkyLjc3NiwxNDAuNzgyIDU2Ni40NjgsMzk2LjcxNCA4OTUuMzU2LDMwNC4yNjQgNTg0LjUxNCw0NDYuMDIxIDkyMi41NzQsNDk1LjMzNiA1ODAuOTUxLDQ5OC40MDkgODY5LjcyNCw2ODAuOTY0IA0KCTU1Ni4zODgsNTQ0LjgxNSAiLz4NCjwvc3ZnPg0K') center top no-repeat;
	height: 921px;
	left: 50%;
	margin-left: -461.5px;
	margin-top: -150px;
	position: fixed;
	top: 0px;
	width: 923px;
	z-index: -2;
}

div.star-back{
	background: -webkit-gradient(radial, 50% 50%, 30, 50% 50%, 500, from(rgba(255,218,0,0.8)), to(rgba(255,218,0,0)));
	height: 921px;
	position: fixed;
	width: 100%;
	z-index: -3;
}

div.header-div{
	display: block;
	height: 400px;	
}
	
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

div.star {
  -webkit-animation: spin 8s infinite linear;
}

@-webkit-keyframes rise {
  from {
    top: 100%;
  }
  to {
    top: 0px;
  }
}

div.doge{
  -webkit-animation: rise 1.5s 1 ease;
}

div.footer-div
{
	height: 400px;
}

div.ta-div
{
	height: 175px;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(11,11,11)), to(rgb(200,200,200)), color-stop(50%, rgb(55,55,55)));
}